.container{
    height: 100vh;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button{
    margin: 10px !important;
}

.box{
    display: flex;
    justify-content: center;
}